body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(38, 38, 38) 150%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
    height: 100vh;
}