@media screen and (max-width: 435px) {
    .btn {
        padding: 10px;
        width: 100px;
    }

    .posts {
        flex-direction: column;
        width: 100vw;
    }

    .post {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    .highlights {
        flex-direction: column;
        width: 100vw;
    }

    .left {
        flex-direction: column;
        padding: 0;
    }

    .left,
    .right {
        width: 90vw;
    }

    .highlight {
        width: 100%;
        height: 100%;
        top: 110px;
    }

    .highlight button {
        width: 200px;
        margin: 0;
    }

    .right {
        top: 150px;
    }

}