body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

* {
    font-family: "Roboto Flex" ";

}

.container {
    height: 100vh;
    padding: 10px;
}

/* ========================== Nav Bar ========================= */

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
}

nav h1 {
    position: absolute;
    top: -11px;
    left: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    width: auto;
    position: absolute;
    right: 5px;
    top: -11px;
    padding: 10px;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* ========================== Header ==============================*/

header {
    background-color: #333;
    height: 800px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 54px;
    margin-bottom: 10px;
}

header p {
    margin-top: 10px;
    font-size: 24px;
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    background-color: red;
    border-radius: 25px;
    color: white;
    border: 1px solid red;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 15px 0;
    margin: 10px;
    text-decoration: none;
}

/* .btn p {
    margin-top: 10px;
} */

/* ========================= Recent Posts ======================== */

.recent-posts {
    margin-top: 10px;
}

.recent-posts span:hover {
    cursor: pointer;
    color: blue;
}

.posts {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Individual card styling */

.post {
    width: 33.33%;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #333;
    border-radius: 10px;
}

.post img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.engagement {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.engagement span {
    margin-left: 10px
}

/* ========================= Highlights ============================== */

.highlights {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: auto;
    padding: 10px;
}

.left,
.right {
    width: 50%;
    height: 800px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.highlight {
    width: 40%;
    height: 80%;
    border: 1px solid #333;
    margin: 5px;
    text-align: center;
    position: relative;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.highlight img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.highlight button {
    background-color: red;
    border-radius: 20px;
    color: white;
    border: 1px solid red;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 300px;
    margin: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Right */
.right {
    position: relative;
    padding: 10px;
}

.subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.subscribe h3 {
    font-size: 42px;
    position: absolute;
    top: 10px;
}

.price {
    font-size: 84px !important;
    text-align: center;
    margin-bottom: -5px;
}

.subscribe p {
    font-size: 16px;
    width: 75%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: -25px;
}

.subscribe button {
    background-color: red;
    border-radius: 35px;
    color: white;
    border: 1px solid red;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    height: 75px;
    width: 75%;
    margin: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

/* ========================= Footer ============================== */