body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    height: 100vh;
    border: 1px solid white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
}

nav h1 {
    position: absolute;
    top: -11px;
    left: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    width: auto;
    position: absolute;
    right: 5px;
    top: -11px;
    padding: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Header */
header {
    background-color: #333;
    height: 50%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}